In [1]:
import pandas as pd
import numpy as np
import torch
import gpytorch
import matplotlib.pyplot as plt
from sklearn import preprocessing
from scipy.special import logit, expit
from scipy.optimize import curve_fit

In [3]:
global num_classifications
num_classifications = 50
X = np.linspace(0,num_classifications,num_classifications+1)

In [5]:
classification_results = pd.read_csv('matrix_events_KNN_EOS-SLy.csv',delimiter=',')

In [7]:
display(classification_results*num_classifications)

       HasNS_true  HasREM_true     f_0     f_1     f_2
0              50           50   0.000   0.000  50.000
1              50            0  32.540  17.460   0.000
2              50           50   0.000  23.305  26.695
3               0            0  26.215  23.785   0.000
4               0            0  50.000   0.000   0.000
...           ...          ...     ...     ...     ...
58874          50           50   0.000   0.000  50.000
58875          50            0   4.920  45.080   0.000
58876           0            0  50.000   0.000   0.000
58877          50           50   0.000   0.000  50.000
58878          50            0   0.000  50.000   0.000

[58879 rows x 5 columns]